

@import "./variables";
@import "./utils";
@import "./break";
@import "~susy/sass/susy";
$susy: (
  global-box-sizing: border-box,
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@include border-box-sizing;

.row{
  position: relative;
  @include clearfix;
}
$breakpoints: $grid-breakpoints;
@for $i from 1 through 12 {
  @include breakpoint(0){
    .col-xs-#{$i}{ 
      float: left;
      @include span($i of 12);
    }
  }
}


@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);
  @include media-breakpoint-up($breakpoint, $breakpoints) {
    @for $i from 1 through 12 {
        .col#{$infix}-#{$i}{ 
          float: left;
          @include span($i of 12);
        }
    }
  }
}

.container{
  @include clearfix;
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;  
  box-sizing: border-box;
  @include breakpoint($sm){
    width: 540px;
  }
  @include breakpoint($md){
    width: 720px;
  }
  @include breakpoint($lg){
    width: 900px;
  }
  @include breakpoint($xl){
    width: 1180px;
  }

}
.fluid-container{
  @include clearfix;
  margin: 0 auto;
  position: relative;  
  width: 100%
}


